{% bind "items" %}
    <ul>
        {% for item in items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
{% endbind %}

<input type="text" id="newItem"/>
<button id="add-item">Add</button>